 ::-webkit-scrollbar {
     width: 5px;
     overflow: auto;
 }

 ::-webkit-scrollbar-button {
     display: none;
 }

 ::-webkit-scrollbar-track {
     background-color: white;
 }

 ::-webkit-scrollbar-thumb {
     background-color: grey;
 }

 .dropdown-content {
     display: none;
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .card-expanded {
     max-height: none !important;
 }

 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
 }